$play__color: $icon-color;
$play__color2: #fff;
$play__size: $icon-size;
.u-play-fill {
  @extend %h-item-icon;
  color: $play__color;
  font-size: $play__size;
  &::before, &::after {
    content: "";
  }
  &:before {
    display: block;
    width: 1.6em;
    height: 1.6em;
    background-color: currentColor;
    border-radius: 50%;
    transition: all $transition;
  }
  &::after {
    position: absolute;
    left: 42%;
    top: 32%;
    width: 0;
    height: 0;
    border-left: 0.4em solid $play__color2;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    opacity: 1;
    transition: opacity $transition;
  }
  &.is-pause {
    &::after {
      opacity: 0;
      transition: opacity $transition;
    }
    &:before {
      width: 0.8em;
      border-radius: 0;
      margin: 0 0.4em;
      border-left: 0.2em solid currentColor;
      border-right: 0.2em solid currentColor;
      background-color: transparent;
      box-sizing: border-box;
      transition: all $transition;
    }
  }
}
// - transparent
.u-play-square {
  @extend %h-play-icon;
  &:before {
    width: 2.2em;
  }
  &.is-pause {
    &:before {
      margin: 0 0.7em;
    }
  }
}
.u-play {
  @extend %h-play-icon;
  &:before {
    border-radius: 50%;
    width: 1.6em;
  }
  &.is-pause {
    &:before {
      border-radius: 0;
      margin: 0 0.4em;
    }
  }
}
%h-play-icon {
  @extend %h-item-icon;
  color: $play__color;
  font-size: $play__size;
  &::before, &::after {
      content: "";
  }
  &::after {
    position: absolute;
    left: 42%;
    top: 32%;
    width: 0;
    height: 0;
    border-left: 0.4em solid currentColor;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
  }
  &:before {
    display: block;
    box-sizing: border-box;
    border: 0.2em solid currentColor;
    height: 1.6em;
    margin: 0;
    transition: all $transition;
  }
  &.is-pause {
    &::after {
      opacity: 0;
    }
    &:before {
      width: 0.8em;
      border-top-width: 0;
      border-bottom-width: 0;
      transition: all $transition;
    }
  }
}