%h-skin {
	background-color: #261a13;
	background-image:
			radial-gradient(circle at 100% -50%, #261a13 36%, #1f140c 36%, #1f140c 40%, transparent 44%, transparent),
			radial-gradient(circle at 0% -50%,  #261a13 36%, #1f140c 36%, #1f140c 40%, transparent 44%, transparent),
			radial-gradient(circle at 50%  0%, #261a13 64%, #1f140c 64%, #1f140c 70%, transparent 74%);
	background-size:25px 13px;
}