$lock__color: $icon-color;
$lock__color2: #fff;
$lock__size: $icon-size;
%u-lock {
    @extend %h-item-icon;
    font-size: $lock__size;
    color: $lock__color;
    &::before, &::after {
        content: "";
        display: block;
    }
    &:before {
        margin-top: 0.6em;
        width: 1.2em;
        height: 0.8em;
        background-color: currentColor;
    }
    &::after {
        position: absolute;
        bottom: 0.8em;
        left: 0.2em;
        right: 0.2em;
        height: 0.4em;
        border-left: 0.2em solid currentColor;
        border-top: 0.2em solid currentColor;
        border-right: 0.2em solid currentColor;
        border-radius: 50% 50% 0 0;
        transform-origin: 0.7em 0;
        transform: rotateY(0deg);
        transition: transform $transition;
    }
    &__inner {
        background-color: $lock__color2;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0.3em;
        width: 0.25em;
        height: 0.25em;
        margin: auto;
        border-radius: 50%;
        box-shadow: 0 0.2em 0 0 $lock__color2;
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 0.3em;
            position: absolute;
            top: 0.21em;
            left: 0;
            right: 0;
            margin: auto;
            box-sizing: border-box;
            background-color: transparent;
            border-left: 0.1em solid currentColor;
            border-right: 0.1em solid currentColor;
            //box-shadow: 0.1em 0.2em 0 0.2em $lock__color2;
        }
    }
    &.is-unlock {
        &::after {
            transform: rotateY(180deg);
            transition: transform $transition;
        }
    }
}