.u-arrow-type1
.u-arrow-type1.u-arrow-top
.u-arrow-type1.u-arrow-left
.u-arrow-type1.u-arrow-bottom
br
.u-arrow-type2
.u-arrow-type2.u-arrow-top
.u-arrow-type2.u-arrow-left
.u-arrow-type2.u-arrow-bottom
br
.u-arrow-type3
    .u-arrow__inner
.u-arrow-type3.u-arrow-top
    .u-arrow__inner
.u-arrow-type3.u-arrow-left
    .u-arrow__inner
.u-arrow-type3.u-arrow-bottom
    .u-arrow__inner