.btn-sharp button
a(href="javascript:void(0);" title="").btn-sharp button
button(type='button').btn-sharp button
.btn-sharp.is-disable button
br
br
.btn-sharp-left button
a(href="javascript:void(0);" title="").btn-sharp-left button
button(type='button').btn-sharp-left button
.btn-sharp-left.is-disable button
br
br
.btn-sharp-right button
a(href="javascript:void(0);" title="").btn-sharp-right button
button(type='button').btn-sharp-right button
.btn-sharp-right.is-disable button