html
	head
		title Css pattrens
		link(rel="stylesheet" href="./buttons.css")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
	body
		include buttons/btn/btn.jade
		br
		include buttons/btn-round/btn-round.jade
		br
		include buttons/btn-sharp/btn-sharp.jade
		br
		include buttons/btn-sharp2/btn-sharp2.jade
		br
		include buttons/btn-arrow/btn-arrow.jade
		br
		include buttons/btn-shd/btn-shd.jade
		br
		include buttons/btn-circle/btn-circle.jade