$icon-size: 20px;
$icon-color: #000;
$transition: 300ms;
%h-item-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  //&:hover {
  //  color: #f0f;
  //}
}
@import 'icons/trash/trash';
@import 'icons/comment/comment';
@import 'icons/pie/pie';
@import 'icons/car/car';
@import 'icons/home/home';
@import 'icons/list/list';
@import 'icons/view/view';
@import 'icons/edit/edit';
@import 'icons/place/place';
@import 'icons/user/user';
@import 'icons/clock/clock';
@import 'icons/arrows/arrows';
@import 'icons/calendar/calendar';
@import 'icons/folder/folder';
@import 'icons/action/action';
@import 'icons/heart/heart';
@import 'icons/play/play';
@import 'icons/lock/lock';
@import 'icons/burger/burger';
@import 'icons/phone/phone';
@import 'icons/mail/mail';
@import 'icons/search/search';
@import 'icons/loader/loader';