.btn-arrow-right button
a(href="javascript:void(0);" title="").btn-arrow-right button
button(type='button').btn-arrow-right button
.btn-arrow-right.is-disable button
br
br
.btn-arrow-left button
a(href="javascript:void(0);" title="").btn-arrow-left button
button(type='button').btn-arrow-left button
.btn-arrow-left.is-disable button