$clock__color: $icon-color;
$clock__size: $icon-size;
.u-clock {
  @extend %h-item-icon;
  font-size: $clock__size;
  color: $clock__color;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.2em solid currentColor;
  &::before {
    content: "";
    position: absolute;
    bottom: 0.4em;
    left: 0.4em;
    display: block;
    width: 0.35em;
    height: 0.2em;
    border-left: 0.2em solid currentColor;
    border-bottom: 0.2em solid currentColor;
  }
}