$calendar__color: $icon-color;
$calendar__size: $icon-size;
$calendar__radius: 10%;
.u-calendar {
  @extend %h-main-calendar;
  border-width: 0.3em 0.1em 0.1em;
  text-align: center;
  line-height: 1.2em;
  border-radius: $calendar__radius;
  &::after {
    content: "";
    position: absolute;
    top: -0.5em;
    left: 0;
    right: 0;
    width: 0.8em;
    height: 0.3em;
    margin: 0 auto;
    border-left: 0.15em solid currentColor;
    border-right: 0.15em solid currentColor;
  }
}
.u-calendar2 {
  @extend %h-main-calendar;
  text-align: center;
  line-height: 1.2em;
  border-radius: $calendar__radius;
  &::after {
    content: "";
    position: absolute;
    top: -0.5em;
    left: 0;
    right: 0;
    width: 0.8em;
    height: 0.3em;
    margin: 0 auto;
    border-left: 0.15em solid currentColor;
    border-right: 0.15em solid currentColor;
  }
  &:before {
    content: "";
    position: absolute;
    left: -0.01em;
    top: 0.2em;
    width: 0.1em;
    height: 0.1em;
    background-color: transparent;
    border-radius: 50%;
    box-shadow:
    0.24em 0 0 0.005em currentColor,
    0.5em 0 0 0.005em currentColor,
    0.76em 0 0 0.005em currentColor,
    1.02em 0 0 0.005em currentColor,

    0.25em 0.25em 0 0.005em currentColor,
    0.5em 0.25em 0 0.005em currentColor,
    0.76em 0.25em 0 0.005em currentColor,
    1.02em 0.25em 0 0.005em currentColor,

    0.25em 0.5em 0 0.005em currentColor,
    0.5em 0.5em 0 0.005em currentColor,
    0.76em 0.5em 0 0.005em currentColor
  ;
  }
}
.u-calendar3 {
  @extend %h-main-calendar;
}
.u-calendar4 {
  @extend %h-main-calendar;
}
%h-main-calendar {
  @extend %h-item-icon;
  font-size: $calendar__size;
  color: $calendar__color;
  width: 1.4em;
  height: 1em;
  border-color: currentColor;
  border-style: solid;
  border-width: 0.3em 0.1em 0.1em;
}