$action__color-good: #0a0;
$action__color-bad: #f00;
$action__color2: #fff;
$action__size: $icon-size;
.u-action {
  @extend %h-item-icon;
  @extend %h-action-animation;
  @extend %h-action;
  &::before, &::after {
    background-color: currentColor;
  }
  &-fill {
    @extend %h-item-icon;
    @extend %h-action-animation;
    @extend %h-action;
    background-color: currentColor;
    border-radius: 50%;
    &::before, &::after {
      background-color: $action__color2;
    }
  }
}
%h-action {
  color: $action__color-good;
  font-size: $action__size;
  width: 1em;
  height: 1em;
  transition: color $transition ease;
  &::before, &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 0.75em;
    height: 0.15em;
    margin: auto;
    transition: transform $transition ease;
  }
  &::after {
    transform: rotate(90deg);
    transition: transform $transition ease;
  }
}
%h-action-animation {
  &.is-remove {
    color: $action__color-bad;
    transition: color $transition ease;
    &::after {
      transform: rotate(0deg);
      transition: transform $transition ease;
    }
  }
  &.is-delete {
    color: $action__color-bad;
    transition: color $transition ease;
    &:before {
      transform: rotate(405deg);
      transition: transform $transition ease;
    }
    &::after {
      transform: rotate(495deg);
      transition: transform $transition ease;
    }
  }
}
.u-success {
  @extend %h-item-icon;
  color: $action__color-good;
  font-size: $action__size;
  border-left: 0.2em solid currentColor;
  width: 1em;
  height: 0.6em;
  box-sizing: border-box;
  transform: rotate(-45deg);
  transition: all $transition;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -0.05em;
    display: block;
    width: 1em;
    height: 0.2em;
    background-color: currentColor;
    //transition: all $transition/2;
  }
  &.is-denied {
    color: $action__color-bad;
    border: 0.1em solid currentColor;
    height: 1em;
    margin: 0;
    border-radius: 50%;
    transform: rotate(-405deg);
    transition: all $transition;
    &::after {
      bottom: 0.3em;
      width: 0.9em;
      //transition: all $transition/2;
    }
  }
}